<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale">

    <link rel="stylesheet" href="/css/style.css">

    <title>CRUD</title>
</head>
<body>
    <section class="main-section">
        <div class="main">
            <div>
                <h1>CRUD</h1>
                <p>
                    Projeto de cadastro de clientes ultilizando o metodologia CRUD
                    com as funções de cadastro, edição, visualização e exclusão do
                    banco de dados.
                </p>
                <div class="buttons">
                    <a href="/cadastro.html"><button>Cadastrar</button></a>
                    <a href="/visualizar.html"><button>Visualizar</button></a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>
            <b>Desenvolvido por:</b> Adriano Reis Pereira Celestino.
        </p>
    </footer>
</body>
</html>